body {
    background-color: white;
}

#header_container {
    background-color: rgb(151, 164, 168);
}

h1 {
    font-family: 'Black And White Picture', sans-serif;
    font-size: 75px;
    text-align: center;
    margin: 0px;
}

h3 {
    font-family: 'Stylish', sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 20px 15px 10px;
}

#buttons {
    display: flex;
    justify-content: center;
}
button {
    border: solid 3px black;
    margin: 15px;
    padding: 0;
}

button:hover {
    transform: scale(1.2);
}

button:active {
    box-shadow: 0 5px rgb(34, 33, 33);
    transform: translateY(5px);
}

#rockBtn {
    height: 100px;
    width: 100px;
}

#paperBtn {
    height: 100px;
    width: 100px;
}

#scissorBtn {
    height: 100px;
    width: 100px;
}

#match {
    display: flex;
    justify-content: center;
}

#challenge {
    background-color: rgba(24, 131, 10, 0.801);
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    padding: 15px 25px;
    height: 50px;
    width: 150px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 5px black;
}
  
#challenge:hover {
    background-color: rgba(20, 223, 13, 0.863);
    transform: scale(1.1);
}
  
#challenge:active {
    background-color: rgba(20, 223, 13, 0.863);
    box-shadow: 0 5px rgb(34, 33, 33);
    transform: translateY(3px);
}

#battle {
    margin-top: 75px;
    display: flex;
    justify-content: center;
}


#fistRight {
    height: 400px;
}

#fistLeft {
    height: 400px;
}

#papRight {
    height: 400px;
}

#papLeft {
    height: 400px;
}

#sciRight {
    height: 400px;
}

#sciLeft {
    height: 400px;
}

#again {
    display: flex;
    justify-content: center;
}

#playAgain {
    background-color: rgba(163, 157, 152, 0.774);
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    padding: 15px 25px;
    height: 50px;
    width: 150px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 5px black;
}
  
#playAgain:hover {
    background-color: rgba(92, 89, 87, 0.774);
    transform: scale(1.1);
}
  
#playAgain:active {
    background-color: rgba(92, 89, 87, 0.774);
    box-shadow: 0 5px rgb(34, 33, 33);
    transform: translateY(3px);
}