body {
  /* background-color: rgb(231, 227, 227); */
  background-image: url("../img/background.png");
  background-repeat: repeat;
  height: 99%;
 
}

header {
  text-align: center;
  /* height: 300px; */
}

/* #logo {
  border: solid 5px black;
  height: 125px;
  margin-top: 15px;
} */

/* #header_title{
  margin-bottom: 200px;
} */

h1 {
  font-family: 'Black And White Picture', sans-serif;
  font-size: 105px;
  text-align: center;
  margin: 0px;
}

/* #p_header {
  margin-top: 150px;
} */

#play_btn {
  margin-top: 33%;
}
p {
  font-family: 'Stylish', sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 1px;
  /* margin-bottom: 25px; */
}

#play_game {
  background-color: #4CAF50;
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
  padding: 15px 25px;
  margin: auto;
  height: 50px;
  width: 150px;
  cursor: pointer;
  border-radius: 10px;
  border: solid 1px black;
  box-shadow: 0 5px black;
}

#play_game:hover {
  background-color: #3e8e41;
}

#play_game:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

main {
    /* border: solid 2px black; */
    /* height: 800px; */
}

#buttons {
  margin: auto;
  height: 100px;
  width: 50%;
  border: solid 1px red;
}

/* button {
    margin: auto;  
    width: 25%;
} */


footer{
  /* border: solid 1px black; */
  /* height: 200px; */
}