
#sound {
  position: absolute;
  top: 40px;
  right: 45px;
  cursor: pointer;
}

#sound:hover {
  transform: scale(1.1);
  position: absolute;
  top: 40px;
  right: 45px;
  cursor: pointer;
}

h1 {
  font-family: 'Black And White Picture', sans-serif;
  font-size: 115px;
  text-align: center;
  margin: 0px;
}

#play_btn {
  margin: 35% 45% 0;
  
}

p {
  font-family: 'Stylish', sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 1px;
}

#play_game {
  background-color: rgba(163, 125, 53, 0.74);
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  padding: 15px 25px;
  height: 50px;
  width: 150px;
  cursor: pointer;
  border-radius: 12px;
  border: solid 1px black;
  box-shadow: 0 5px black;
}

#play_game:hover {
  background-color: #7c560e;
  transform: scale(1.1);
}

#play_game:active {
  background-color: #7c560e;
  box-shadow: 0 5px rgb(34, 33, 33);
  transform: translateY(3px);
}
