body {
    /* background-color: rgb(226, 210, 210); */
    /* background-image: url("../img/rps_background.jpg"); */
    background-image: url("http://via.placeholder.com/1300x800");
    background-repeat: repeat;
    /* background-image: url("rpslogo.png"); */
}

header {
    border: solid 2px black;
    text-align: center;
    /* height: 400px; */
}

h1 {
    font-family: 'Black And White Picture', sans-serif;
    font-size: 150px;
    text-align: center;
}

main {
    border: solid 2px black;
    /* height: 800px; */
}

h3 {
    text-align: center;
}

#buttons {
    margin: auto;
    height: 100px;
    width: 50%;
    border: solid 1px red;
}

button {
    margin: auto;  
    width: 25%;
}

#logo {
  border: solid 5px black;
}

footer{
  border: solid 1px black;
  /* height: 200px; */
}